<footer id="p" class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BI-DSS 2019</span>
        </div>
    </div>
</footer>

<style type="text/css">
    #p{
        margin-top: 80%;
        width: 100%;
        height: 100px;
        background-color: red;
    }
</style>



