<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img class="logo-main scale-with-grid" src="~/img/logo.png" data-retina="" data-height="270" width="50" alt="logo" data-no-retina="">
        </div>
        <div class="sidebar-brand-text mx-3">SIGEM BI</div>
    </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Datos Empresa</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Datos Empresa:</h6>
                <a class="collapse-item" asp-controller="Departamento" asp-action="Index">Departamentos</a>
                <a class="collapse-item" asp-controller="TipoMoneda" asp-action="Index">Tipo Moneda</a>
                <a class="collapse-item" asp-controller="Estado" asp-action="Index">Estado</a>
                <a class="collapse-item" asp-controller="TipoSolicitud" asp-action="Index">Tipo Solicitud</a>

            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesTwo" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Datos Empleados</span>
        </a>
        <div id="collapsePagesTwo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
          
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Datos Empleados:</h6>
                <a class="collapse-item" asp-controller="Puesto" asp-action="Index">Puestos de Trabajo</a>
                <a class="collapse-item" asp-controller="TipoSangre" asp-action="Index">Tipos de Sangre</a>
                <a class="collapse-item" asp-controller="Area" asp-action="Index">Área De Trabajo</a>


            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>