@model SIGEM_BIDSS.Models.TbArea

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Area</h2>
    <hr />
                <dl class="dl-horizontal">

                    <dt class="col-sm-2">
                    Id Area             
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AreId)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AreDescripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AreDescripcion)
                    </dd>

                </dl>
          
            <div>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.AreId">Editar</a> 
                <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
            </div>
        

         