@model SIGEM_BIDSS.Models.TbPuesto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Editar Puesto</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PtoId" />
            <div class="form-group">
                <label asp-for="PtoId" class="control-label"></label>
                <input asp-for="PtoId" class="form-control" readonly />
                <span asp-validation-for="PtoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PtoDescripcion" class="control-label"></label>
                <input asp-for="PtoDescripcion" class="form-control" />
                <span asp-validation-for="PtoDescripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
