@model SIGEM_BIDSS.Models.TbTipoMoneda

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>TipoMoneda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TmoId" />
            <div class="form-group">
                <label asp-for="TmoAbreviatura" class="control-label"></label>
                <input asp-for="TmoAbreviatura" class="form-control" />
                <span asp-validation-for="TmoAbreviatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmoNombre" class="control-label"></label>
                <input asp-for="TmoNombre" class="form-control" />
                <span asp-validation-for="TmoNombre" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TmoUsuarioCrea" class="control-label"></label>
                <input asp-for="TmoUsuarioCrea" class="form-control" />
                <span asp-validation-for="TmoUsuarioCrea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmoFechaCrea" class="control-label"></label>
                <input asp-for="TmoFechaCrea" class="form-control" />
                <span asp-validation-for="TmoFechaCrea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmoUsuarioModifica" class="control-label"></label>
                <input asp-for="TmoUsuarioModifica" class="form-control" />
                <span asp-validation-for="TmoUsuarioModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmoFechaModifica" class="control-label"></label>
                <input asp-for="TmoFechaModifica" class="form-control" />
                <span asp-validation-for="TmoFechaModifica" class="text-danger"></span>
            </div*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
