@model IEnumerable<SIGEM_BIDSS.Models.tbMunicipio>


@using SIGEM_BIDSS.Models;


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-info  mr-1"></i>
            Detalle Municipio
        </h3>

    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.mun_codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.mun_nombre)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.mun_codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mun_nombre)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-user  mr-1"></i>
            Auditoria
        </h3>

    </div>
    <div class="ibox float-e-margins">
      
        <div class="ibox-content">
            <table class="table">
                <tr>
                    <th>Acción</th>
                    <th>Usuario</th>
                    <th> Fecha</th>
                </tr>
                <tr>
                    <td>Creado por  </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Modificado por</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable(
            {
                "searching": true,
                "lengthChange": true,
                "oLanguage": {
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior",
                    },
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sEmptyTable": "No hay registros",
                    "sInfoEmpty": "Mostrando 0 de 0 Entradas",
                    "sSearch": "Buscar",
                    "sInfo": "Mostrando _START_ a _END_ Entradas",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                }
            });
    });

</script>