<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-light-primary elevation-4 ">
    <!-- Brand Logo -->
    <a href="http://localhost:60115" class="brand-link">
        <img src="~/Content/img/logo.png" alt="BI Logo" style="height:27px; width:50px" href="http://localhost:60115" ) >
        <span class="brand-text font-weight-dark">SIGEM BI</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2" >
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
               
                <li class="nav-item">
                    <a href="@Url.Action("Catalogo","Menu")" class="nav-link active">
                        <i class="fa fa-file"></i>
                        <p>Catálogos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Empleados","Menu")" class="nav-link active">
                        <i class="fa fa-user"></i>
                        <p>Administración</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Solicitud","Menu")" class="nav-link active">
                        <i class="fa fa-folder"></i>
                        <p>Solicitud</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
