@model SIGEM_BIDSS.Models.TbEmpleado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex  align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Registrar Empleado</h6>
        <div class="float-right">
            <a class="btn btn-primary" asp-action="Index">Regresar Al Listado</a>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="container-fluid">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <div class="form-group col-md-8">
                                    <label asp-for="EmpIdentificacion" class="control-label"></label>
                                    <input asp-for="EmpIdentificacion" class="form-control" />
                                    <span asp-validation-for="EmpIdentificacion" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label asp-for="EmpNombres" class="control-label"></label>
                                    <input asp-for="EmpNombres" class="form-control" />
                                    <span asp-validation-for="EmpNombres" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label asp-for="EmpApellidos" class="control-label"></label>
                                    <input asp-for="EmpApellidos" class="form-control" />
                                    <span asp-validation-for="EmpApellidos" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <img id="EmpPathImage" src="~/img/588920b9405ce-bpfull.png" width="200" height="200" class="rounded mb-xl-auto d-block" alt="...">
                                <dl class="">
                                    <dt>
                                        <label asp-for="EmpPathImage"></label>
                                    </dt>
                                    <dd>
                                        <input asp-for="EmpPathImage" type="file">
                                        <span asp-validation-for="EmpPathImage"></span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="EmpDireccion" class="control-label"></label>
                                <input asp-for="EmpDireccion" class="form-control" />
                                <span asp-validation-for="EmpDireccion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="EmpFechaNacimiento" class="control-label"></label>
                                <input asp-for="EmpFechaNacimiento" class="form-control" type="date" />
                                <span asp-validation-for="EmpFechaNacimiento" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="EmpSexo" class="control-label"></label>
                                <input asp-for="EmpSexo" class="form-control" />
                                <span asp-validation-for="EmpSexo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="TpsId" class="control-label"></label>
                                <select asp-for="TpsId" class="form-control" asp-items="ViewBag.TpsId"></select>
                            </div>

                            <div class="form-group col-md-5">
                                <label asp-for="EmpCorreoElectronico" class="control-label"></label>
                                <input asp-for="EmpCorreoElectronico" class="form-control" />
                                <span asp-validation-for="EmpCorreoElectronico" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="EmpTelefono" class="control-label"></label>
                                <input asp-for="EmpTelefono" class="form-control" />
                                <span asp-validation-for="EmpTelefono" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="PtoId" class="control-label"></label>
                                <select asp-for="PtoId" class="form-control" asp-items="ViewBag.PtoId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="EmpFechaIngreso" class="control-label"></label>
                                <input asp-for="EmpFechaIngreso" class="form-control" />
                                <span asp-validation-for="EmpFechaIngreso" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="EmpRazonInactivacion" class="control-label"></label>
                                <input asp-for="EmpRazonInactivacion" class="form-control" />
                                <span asp-validation-for="EmpRazonInactivacion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="EmpEstado" class="control-label"></label>
                                <input asp-for="EmpEstado" class="form-control" />
                                <span asp-validation-for="EmpEstado" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label asp-for="DepId" class="control-label"></label>
                                <select asp-for="DepId" class="form-control" asp-items="ViewBag.DepId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="MunId" class="control-label"></label>
                                <select asp-for="MunId" class="form-control" asp-items="ViewBag.MunId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-primary " />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


