@model SIGEM_BIDSS.Models.TbTipoSolicitud

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<div>
    <h4>Tipo Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipsolDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipsolDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipsolId" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-danger">Regresar a Lista</a>
</div>
