@model SIGEM_BIDSS.Models.TbTipoMoneda

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalle Monedas </h2>
<hr />
<dl class="dl-horizontal">

    <dt class="col-sm-10">
       Abreviatura Moneda
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TmoAbreviatura)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TmoNombre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TmoNombre)
    </dd>

</dl>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.TmoId">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
</div>