@model SIGEM_BIDSS.Models.TbTipoSangre

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Tipo Sangre </h2>
<hr />
<dl class="dl-horizontal">
    <dt class="col-sm-10">
        ID
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TpsId)
    </dd>
    <dt class="col-sm-10">
        Tipo de Nombre
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TpsNombre)
    </dd>



</dl>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.TpsId">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Regresar al Listado</a>
</div>
